* {

}

body {
  background-color: #5B7894;
  display: grid;
  font-family: 'Quicksand', sans-serif;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    "header header"
    "image image"
    "aside main";
  }

h1 {
  color: #C4EB67;
}

h2 {
  color: #84C8A4;
  margin: 10px 0px 10px 0px;
}

h3 {
  color: #359567;
  margin: 5px 5px 10px 0px;
}

h4 {
  color: #359567;
  background-color: #C4EB67;
  width: max-content;
  margin: 10px 0px 0px 0px;
  padding: 1px 4px 1px 4px;
  border-radius: 3%;
}

header {
  grid-area: header;
}

.featured-image {
  grid-area: image;
}

aside {
  grid-area: aside;
  background-color: white;
  padding: 10px;
  text-align: center;
}

main {
  grid-area: main;
  display: flex;
  flex-direction: row;
}

.recipe-card {
  border: 2px solid #C4EB67;
  background-color: white;
  border-radius: 3%;
  height: 250px;
  padding: 15px;
  margin: 20px;
  width: 250px;
}

.card-apple-icon {
  height: 50px;
  width: 45px;
  padding-bottom: 10px;
  float: right;
}

.card-photo-preview {
  width: 100%;
  height: 130px;
  border-radius: 3%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.parmesan {
  background-image: url("images/chicken-parm.jpg");
}

.pancakes {
  background-image: url("images/pancakes.jpg");
}

ul {
  list-style-type: none;
  text-align: left;
}

li {
  margin: 5px;
}

.filter-btn {
  background-color: #359567;
  border: 0;
  border-radius: 3%;
  font-family: 'Quicksand', sans-serif;
  font-size: 12pt;
  font-weight: bold;
  color: white;
  margin-top: 10px;
  padding: 5px 10px 5px 10px;
}

.filter-btn:hover {
  background-color: #84C8A4;
}
